* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  user-select: none;
}

*:focus {
  outline: none;
}

//colors
$grey1: rgb(111, 143, 165);
$grey2: rgb(135, 173, 201);
$grey3: rgb(160, 208, 240);
$orange: rgb(222, 190, 103);

//repeated pcs
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

html {
  font-size: 62.5%;
  background: black;
  color: white;
  transition: all 1s;
}

main {
  min-height: 100vh;
  overflow: hidden;
  @include flex(row, center, center);
}

label {
  margin-right: 1rem;
}

.drumbox {
  width: 100%;
  font-size: 1.5rem;
  @include flex(column, center, center);
}

.kick-snare-hihat {
  @include flex(row, space-between, center);
  border: 1px solid white;
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem;
}

.mute {
  display: inline-block;
  cursor: pointer;
}

.controls {
  @include flex(column, center, space-between);
}

.controls > div {
  margin: 0.2rem;
}

.select-sounds {
  border: none;
  background-color: black;
  border: $grey1 1px solid;
  padding: 0.5rem;
  color: white;
  border-radius: 3px;
  appearance: none;
  //to remove outlining for selections
  color: transparent;
  text-shadow: 0 0 0 white;
}

.volume-div {
  @include flex(row, space-between, center);
}

.pads {
  @include flex(row, space-between, center);
}

.pad {
  height: 50px;
  width: 50px;
  margin: 1rem;
  border-radius: 5px;
  background: $grey1;
}

.snare-pad {
  background: $grey2;
}

.hihat-pad {
  background: $grey3;
}

.buttons {
  @include flex(row, space-between, center);
}

.buttons {
  border: 1px solid white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 5px;
}

.title {
  margin: 2rem;
  font-size: 3rem;
}

.play,
.night-mode,
.tempo-div {
  padding: 1rem 2rem;
  border: 1px solid grey;
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
}

.play,
.night-mode {
  padding: 0.8rem;
  font-size: 1.8rem;
}
button {
  width: 10rem;
  margin: 1rem;
}

.tempo-div {
  @include flex(row, center, center);
  background: black;
}

//dynamic classses
.muted {
  opacity: 50%;
}

.outline-day {
  //to remove outlining for selections
  text-shadow: 0 0 0 black;
}

.selected-pad {
  background: $orange;
}

#hidden-title {
  display: none;
}

@keyframes playingPad {
  0% {
    transform: scale(1.5);
  }
  100% {
    background: scale(0.5);
  }
}

@media screen and (max-width: 400px) {
  #hidden-title {
    display: inline-block;
  }

  #main-title {
    display: none;
  }

  .buttons {
    display: none;
  }

  .kick-snare-hihat {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .pad {
    height: 20px;
    width: 20px;
    margin: 0.4rem;
    border-radius: 1px;
  }

  .kick-snare-hihat {
    padding: 0.5rem;
    border-radius: 2px;
    margin: 0.5rem;
  }

  .select-sounds {
    padding: 0.2rem;
    border-radius: 2px;
  }

  .buttons {
    border: 1px solid white;
    padding: 0.1rem;
    margin: 0.5rem;
    border-radius: 2px;
  }
  .title {
    display: none;
  }

  .play,
  .night-mode,
  .tempo-div {
    padding: 0.2rem 1rem;
    border-radius: 2px;
    font-size: 1rem;
  }

  .play,
  .night-mode {
    padding: 0.5rem 0.2rem;
    font-size: 0.5rem;
  }
}
